<app-navbar></app-navbar>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://hips.hearstapps.com/hmg-prod/images/group-of-friends-on-road-trip-driving-classic-royalty-free-image-1653423084.jpg?crop=0.66635xw:1xh;center,top&resize=980:*" class="d-block w-100 carousel-image" alt="...">
            <div class="carousel-caption">
                <h2>Looking For Adventure</h2>
                <p>Come With Us</p>
            </div>
            <div class="image-text">
              <h2>Be at peace</h2>
              <p><span><h3>The Arial Heights</h3></span></p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/2.webp" class="d-block w-100 carousel-image" alt="...">
            <div class="image-text">
              <h2>Make Memories In</h2>
              <p><span><h3>Bali</h3></span></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/3.jpg" class="d-block w-100 carousel-image" alt="...">
            <div class="image-text text-primary">
              <h2 class=" ">See Heaven In</h2>
              <p><span><h3>New Zealand</h3></span></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid img-set">
<marquee behavior="" direction="">  <p class="display-3">Services In</p>
</marquee>
    <div class="row">
        <div class="col-md-4 col-sm-6 text-center">
            <p class="display-4"> USA</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate ipsam, similique culpa veniam aut nobis maiores nulla molestias dignissimos sunt. Perspiciatis, nam illo? Neque vitae dolores, unde magni amet nulla.</p>
            <button class="btn btn-primary" routerLink="/login">Click here</button>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p class="display-4"> FRANCE</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis hic recusandae, quasi in eaque iusto qui aliquam cumque mollitia quo sed dolorem et illo maxime quos beatae amet iure harum.</p>
            <button class="btn btn-primary" routerLink="/login">Click here</button>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p class="display-4">INDIA</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis hic recusandae, quasi in eaque iusto qui aliquam cumque mollitia quo sed dolorem et illo maxime quos beatae amet iure harum.</p>
            <button class="btn btn-primary" routerLink="/login">Click here</button>
        </div>
    </div>
</div>

<app-footerc></app-footerc>
