<footer class="hero">
    <div class="container flex">
      <div class="container__about">
        <h2>Admin's Message</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam quod consequuntur, omnis sunt rem culpa ullam quas ex voluptate dolor cupiditate exercitationem id voluptatem quidem, architecto minima doloremque dignissimos!</p>
      </div>
      <div class="container-pages flex">
  
        <div class="container__recentpages">
          <h2>Inormation</h2>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </div>
        <div class="container__more">
          <h2>About Us</h2>
          <ul>
            <li><a href="">Blog</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="">What's New</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="line__separate"></div>
    <div class="by flex">
      <p>Copyright © 2023 All Rights Reserved by Chayal Tourisms.</p>
      <div class="icons">
        <a href="#" class="icon1 icon--instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="icon1 icon--twitter">
            <i class="fab fa-twitter"></i>
          </a>
        <a href="#" class="icon1 icon--linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="icon1 icon--github">
          <i class="fab fa-facebook"></i>
        </a>
      </div>

     

    </div>
    
  </footer>
  