<app-navbar></app-navbar>

<div class="container mt-5">
    <h2 class="text-center mb-4">Travel Club</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/clean-cascade-scenery-green-shore-tourism_1417-1353.jpg?size=626&ext=jpg&ga=GA1.2.670211406.1689248132&semt=sph" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Adventure Explorers</h5>
            <p class="card-text">Join our adventurous club to explore breathtaking destinations around the world.</p>
            <a href="#" class="btn btn-primary">Join Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/fog-dark-clouds-mountains_1204-503.jpg?size=626&ext=jpg&ga=GA1.2.670211406.1689248132&semt=sph" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Luxury Travelers</h5>
            <p class="card-text">Experience luxury travel like never before with our exclusive club.</p>
            <a href="#" class="btn btn-primary">Join Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/beautiful-scenery-chamarel-waterfall-mauritius-cloudy-sky_181624-19823.jpg?size=626&ext=jpg&ga=GA1.2.670211406.1689248132&semt=sph" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cultural Enthusiasts</h5>
            <p class="card-text">Immerse yourself in the rich cultures of the world through our club's curated trips.</p>
            <a href="#" class="btn btn-primary">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footerc></app-footerc>